@model List<Curso>

<div class="">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Id</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in @Model)
        {
            <tr>
                <td>@obj.Nombre</td>
                <td>@obj.Id</td>
                <td><a class="btn btn-primary" asp-route-cursoId="@obj.Id" 
                       asp-controller="Curso" asp-action="Update">Editar</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>