@*
@model List<AcademyBase>
*@

<div class="">
    
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Id</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in @Model)
        {
            <tr>
                <td>@obj.Nombre</td>
                <td>@obj.Id</td>
            </tr>
        }
        </tbody>
    </table>
</div>