@model Asignatura
@{
    ViewData["Title"] = "Información de las asignaturas";
    Layout = "SimpleLayout";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="jumbotron">
    <!--De esta forma usamos una vista parcial traida desde el folder shared-->
    <partial name="AcademyBaseSimple"/>

    <p>Fecha de lanzamiento del curso: <i>@Model.FechaDeLanzamiento</i></p>
</div>
