@{
    ViewData["Title"] = "Informaci칩n Escuela";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Academy</title>
    </head>
    <body>
    <div>
        <h1>Informaci칩n de la academia</h1>
        <h2>Escuela</h2>
        <h3>Nombre: </h3>
        <p>@Model.Name</p>
        <h3>A침o de Fundaci칩n: </h3>
        <p>@Model.FundationYear</p>
    </div>
    </body>
</html>