@{
    ViewData["Title"] = "Información de la academia";
    Layout = "SimpleLayout";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <h2>Academia de tecnologías modernas</h2>
    <h3>Nombre: </h3>
    <p>@Model.Nombre</p>
    <h3>Año de Fundación: </h3>
    <p>@Model.AñoCreacion</p>
    
    <p><i>@ViewData["DatoDinamico"]</i></p>
</div>
