@{
    ViewData["Title"] = "Informaci칩n Escuela";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Academy</title>
    </head>
    <body>
    <div>
        <h1>Informaci칩n de la academia</h1>
        <h2>Escuela</h2>
        <h3>Nombre: </h3>
        <p>A침o de Fundaci칩n: </p>
    </div>
    </body>
</html>