@model Curso
@{
    ViewData["Title"] = "Información del curso";
    Layout = "SimpleLayout";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="jumbotron">
    <!--De esta forma usamos una vista parcial traida desde el folder shared-->
    <partial name="AcademyBaseSimple"/>
</div>
