@model List<Curso>
@{
    ViewData["Title"] = "Todos los cursos";
    Layout = "SimpleLayout";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<a class="btn btn-primary" asp-controller="Curso" asp-action="Create">Nuevo curso</a>
<br/>
<br/>

<partial name="ListCurso"/>